
Project4_hardwarepage/.idea/caches/build_file_checksums.ser
Project4_hardwarepage/.idea/misc.xml
Project4_hardwarepage/app/src/main/java/com/example/ibrahim/project4_hardwarepage/MainActivity.java
Project4_hardwarepage/app/src/main/res/layout/amd_core_main.xml
Project4_hardwarepage/app/src/main/res/layout/intel_core_main.xml
Project4_hardwarepage/app/src/main/res/values/strings.xml
